<div class="projects-container row-fluid">
  <div class="offset1 span10">
    <ul class="grid grid-effect">
      {{#each .}}
        <li>
          <figure>
            <img src="{{img}}" alt="{{name}}">
            <figcaption>
              <h3>{{name}}</h3>
              <span>{{{description}}}</span>
              <a href="{{link}}" target="_blank">Take a look</a>
            </figcaption>
          </figure>
        </li>
      {{/each}}
    </ul>
  </div>
</div>